.leaderboard-rankings {
  display: flex;
  align-items: center;
  background-color: rgb(250, 250, 250);
  flex-direction: column;
  border-radius: 10px;
  height: 100%;
}

.leaderboard-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: 50px;
}

.leaderboard-items li {
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
}

.leaderboard-items img {
  justify-content: center;
}

.leaderboard-items h1 {
  justify-content: center;
}

.leaderboard-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: -20vw
}

.leaderboard-item-user {
  display: flex;
  flex-direction: row;
  width: inherit;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.leader-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 13px;
  width: 80%;
  height: 80px;
  background-color: white;
}

.leader-info p {
  font-family: "Arvo Regular";
  text-align: left;
}

.leader-info img {
  width: 45px;
  border-radius: 50%;
  margin-right: 15px;
}

.leader-info-handle {
  font-family: "Arvo Regular";
  font-weight: 700;
  margin-right: 15px;
  min-width: 120px;
}

.leader-info-points {
  margin-right: 15px;
  min-width: 150px;
}

.rank {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 15px;
  border: 2px solid #5dd39e;
  background-color: white;
  border-radius: 10px;
  margin-right: 15px;
  font-family: "Arvo Bold";
  height: 40px;
}

.leader-rank-1 {
  color: white;
  border: 2px solid rgb(201, 173, 13);
  background-color: rgb(201, 173, 13);
}

.leader-rank-2 {
  color: white;
  border: 2px solid silver;
  background-color: silver;
}

.leader-rank-3 {
  color: white;
  border: 2px solid brown;
  background-color: brown;
}

/* Badges */
.badge-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-evenly; */
  /* width: 100%; */
}

.badge-list li {
  padding-right: 10px;
}

