.main-header-section {
  position: relative;
  display: flex;
  align-items: center;
} 

.image-parallax img{
  /* position: absolute; */
  /* transform-origin: 0 50%; */
  z-index: -10;
}  

.img-container {
  position: absolute;
  top: 130px;
}

.img-container2 {
  position: absolute;
  z-index: -2;
}

.main-header-content-container {
  display: flex;
  flex-direction: column;
  z-index: 3;

}

.main-header-content-container h1 {
  font-size: 4em;
  /* background-color: #9cefc999; */
  max-width: 900px;
}
.main-header-content-container h3 {
  font-size: 2.5em;
  padding-top: 20px;
  /* background-color: #9cefc999; */
  /* max-width: 400px; */
}

.parallax-img-1-before {
  position: absolute;
  right: 30px;
  top: 85px;
}

.parallax-img-1-after {
  position: absolute;
  left: 160px;
}

.parallax-img-2-before {
  position: absolute;
  /* top: 85px; */
  z-index: -1;
}

.parallax-img-2-after {
  position: absolute;
  z-index: -1;
  left: 500px;
  transform: rotate(-40deg);
}

.highlight {
  background-color: #9cefc999;
}

.highlight-section h1 {
  padding: 5px;
  width: 100%;
}

.highlight-section h2 {
  padding-top: 20px;
  padding-left: 15px;
}
.highlight-section h3 {
  padding-top: 15px;
}

.highlight-section span {
  font-weight: bold;
}

.top-post-content {
  display: flex;
  flex-direction: row;
}

.top-post-content img {
  padding: 15px;
  border-radius: 50px;
}
.top-post-description {
  font-size: 20px;
  line-height: 25px;
  padding-top: 20px;
}

.infographic-section p {
  font-size: 20px;
  line-height: 25px;
  padding: 20px;
  background-color: #9cefc999;
  font-weight: bold;
  border-radius: 5px;
}

.hero-point-span {
  color: rgb(5, 129, 22);
  font-weight: bold;
}

mark {
  background-color: #9cefc999;
}

.faq-question {
  font-size: 35px;
}