@font-face {
  font-family: 'Arvo Bold';
  src: url('../../fonts/Arvo/Arvo-Bold.ttf');
  /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Arvo Regular';
  src: url('../../fonts/Arvo/Arvo-Regular.ttf');
  /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Arvo Italic';
  src: url('../../fonts/Arvo/Arvo-Italic.ttf');
  /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto/Roboto-Regular.ttf');
  /* IE9 Compat Modes */
}

.single-post-container {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 60px;
    padding-bottom: 50px;
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 30px;
    width: 1100px;
    

    color: #2B1E18;
    font-family: "Arvo Regular";
}

.single-post-container:hover {
    background-color:rgba(93, 211, 158, 0.2);
    /* height:800px; */
    width: 1100px;
    -moz-border-radius: 1500px;
    -webkit-border-radius: 150px;
    border-radius: 150px;

    -webkit-box-shadow: 7px 8px 11px 2px rgba(92,88,92,0.52);
    -moz-box-shadow: 7px 8px 11px 2px rgba(92,88,92,0.52);
    box-shadow: 7px 8px 11px 2px rgba(92,88,92,0.52);
}

.top-container {
    display: flex;
    justify-content: space-between;
}

.post-title {
    padding-bottom: 30px;
    font-family: "Arvo Bold";
    font-size: 35px;
}
.edit-delete-button-container {
    display: flex;
    flex-direction: column;
}

.pencil-icon {
    width: 35px;
    height: 35px;
}

.delete-button {
    padding-top: 10px;
    cursor: pointer;
    border: none;
    background: transparent;
    outline: none;
}

.trashcan-icon {
    width: 28px;
    height: 28px;
}

.bottom-container {
    display: flex;
}

.left-container {

}

.image-container {

}

.post-image {
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

.right-container {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.post-description {
    color: #2B1E18;
    font-family: "Arvo Regular";
    font-size: 20px;
}

.upcycle-container {
    display: flex;
    align-items: center;
}


.post-upcycle-count {
    color: #2B1E18;
    font-family: "Arvo Regular";
    font-size: 70px;
    padding-right: 50px;
}

.upcycle-button-container {
    /* display: flex;
    align-items: center; */
}

.upcycle-logo {
    width: 35px;
}

.upcycle-button {
    padding: inherit;
    width: 150px;
    height: 50px;
    color: #5DD39E;
    background-color: #2b1e18;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    font-size: 20px;
    cursor: pointer;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.upcycle-button:hover {
    cursor: pointer;
    color: #2b1e18;
    background-color: #5DD39E;
    border: none;
}

.post-category-label {
        
}

.post-handle-name {
    padding-bottom: 8px;
}
        
/* .post-category-name {
        
} */

.clicked {
  pointer-events: none;
  color: #2B1E18;
  background: #5DD39E;
}