.about-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 125vh;
  position: relative;
}

.team-members {
  display: flex;
  z-index: 9;
  flex-direction: row;
  list-style: none;
  padding-top: 100px;
}

.member {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 30px;
}

.member img {
  height: 200px;
  border-radius: 50%;
}

.member-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 25px;
}

.member-info a {
  font-size: 20px;
  padding-top: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

#Nikki {
  border: 3px solid #cccccc;
}

#Nikki-title {
  background-color: #cccccc;
}

#Artem {
  border: 3px solid rgb(235, 133, 49);
}

#Artem-title {
  background-color: rgb(235, 133, 49);
}

#Cade {
  border: 3px solid rgb(15, 57, 134);
}

#Cade-title {
  background-color: rgb(15, 57, 134);
  color: white;
}

#Victor {
  border: 3px solid rgb(15, 106, 134);
}

#Victor-title {
  background-color: rgb(15, 106, 134);
  color: white;
}

.about-title {
  z-index: 2;
  background-color: #5dd39ebd;
  padding: 5px;
}

h4 {
  padding: 5px;
}

.team-hats1 {
  position: absolute;
  top: -3px;
  width: 300px;
  height: 300px;
  z-index: 0;
  background-size: 500px;
  overflow: hidden;
  background-repeat: no-repeat;
}
.team-hats2 {
  position: absolute;
  top: -3px;
  left: 25%;
  width: 300px;
  height: 300px;
  z-index: 0;
  background-size: 500px;
  overflow: hidden;
  background-repeat: no-repeat;
}

a:hover {
  color: #5dd39e;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

#social-image {
  width: 42px;
  height: 42px;
}

/* Animations */

.pulsate-bck:hover {
  -webkit-animation: pulsate-bck 0.8s ease-in-out infinite both;
  animation: pulsate-bck 0.8s ease-in-out infinite both;
}

@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.swing {
  animation-name: swing;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  -moz-animation-direction: alternate;
  animation: swing 3.2s alternate infinite ease-in-out;
}

.swing-opposite {
  animation-name: swing-opposite;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  -moz-animation-direction: alternate;
  animation: swing 3.0s alternate infinite ease-in-out;
}

@-webkit-keyframes swing {
  from {
    -webkit-transform: rotate(-25deg);
    transform-origin: top;
  }
  
  to {
    -webkit-transform: rotate(25deg);
    transform-origin: top;
  }
}

@keyframes swing {
  from {
    -webkit-transform: rotate(-25deg);
    transform-origin: top;
  }
  
  to {
    -webkit-transform: rotate(25deg);
    transform-origin: top;
  }
}
@-webkit-keyframes swing-opposite {
  from {
    -webkit-transform: rotate(-15deg);
    transform-origin: top;
  }
  
  to {
    -webkit-transform: rotate(15deg);
    transform-origin: top;
  }
}

@keyframes swing-opposite {
  from {
    -webkit-transform: rotate(-15deg);
    transform-origin: top;
  }
  
  to {
    -webkit-transform: rotate(15deg);
    transform-origin: top;
  }
}

