.about-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 125vh;
}

.team-members {
  display: flex;
  z-index: 9;
  flex-direction: row;
  list-style: none;
  padding-top: 100px;
}

.member {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 30px;
}

.member img {
  height: 200px;
  border-radius: 50%;
}

.member-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 25px;
}

.member-info a {
  font-size: 20px;
  padding-top: 10px;
  font-weight: bold;
}

#Nikki {
  border: 3px solid #cccccc;
}

#Nikki-title {
  background-color: #cccccc;
}

#Artem {
  border: 3px solid rgb(235, 133, 49);
}

#Artem-title {
  background-color: rgb(235, 133, 49);
}

#Cade {
  border: 3px solid rgb(15, 57, 134);
}

#Cade-title {
  background-color: rgb(15, 57, 134);
  color: white;
}

#Victor {
  border: 3px solid rgb(15, 106, 134);
}

#Victor-title {
  background-color: rgb(15, 106, 134);
  color: white;
}

.about-title {
  z-index: 2;
  background-color: #5dd39ebd;
  padding: 5px;
}

h4 {
  padding: 5px;
}
.team-hats {
  background-image: url("https://medio-app-seed.s3.amazonaws.com/two-hats.png");
  position: absolute;
  top: -5%;
  left: 35%;
  width: 1000px;
  height: 500px;
  z-index: 0;
  background-size: 500px;
  overflow: hidden;
  background-repeat: no-repeat;
}

a:hover {
  color: #5dd39e;
}