#edit-profile-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  /* background-color: #ffffff7e; */
  background-image: linear-gradient(to bottom, rgba(6, 12, 6, 0.75), rgb(93, 211, 158, 0.9));
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow: auto;
}

.edit-profile-modal-content {
  /* background-color: rgba(182, 211, 221, 0.753); */
  position: relative;
  background: white;
  border-radius: 100px;
  box-shadow: 7px 8px 11px 2px rgba(92,88,92,0.52);
  padding: 30px;
  width: 40%;
  margin: 15% auto;
}

.edit-profile-modal-content input {
  margin: 10px 0px 10px 20px;
  /* width: 90%; */
  line-height: 30px;
  border-radius: 20px;
  padding: 8px;
  border-width: 1px;
}
.edit-profile-modal-content form {
  display: flex;
  flex-direction: row;
}

.edit-profile-modal-content h1 {
  text-align: center;
  font-size: 35px;
  padding-bottom: 20px;
}

#close-edit-profile-modal {
  position: absolute;
  cursor: pointer;
  font-size: 45px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  float: right;
  /* padding-right: 50px; */
  right: 50px;
}

.profile-edit-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

.profile-edit-img:hover {
  box-shadow: 0 0 0 1px rgba(93,210,159);
}

.edit-profile-input-container {
  display: flex;
  flex-direction: column;
}

#edit-profile-photo {
  position: absolute;
  /* display: none; */
  border: none;
  top: 150px;
  left: 150px;
  width: 80px;
  height: 80px;
  opacity: 50%;
}

.profile-edit-img:hover #edit-profile-photo {
  display: block;
}