.search-input {
    background-color:transparent;
    color:#333;
    border:none;
    font-size:16px;
    font-weight:normal;
    height:100%;
    width:100%;
    outline:none;
    padding:0;
}

.search-input-box {
    flex:1 1 auto;
    height:100%;
}

.search-icon {
    display:block;
    color:#767676;
}

.search-icon-box {
    flex:0 0 auto;
    margin-right:8px;
}

.search-box {
    display:flex;
    flex-direction:row;
    position:relative;
    align-items:center;
    flex:1 1 auto;
    min-height:0;
    min-width:0;
    box-sizing:border-box;
}

.search-container {
    display:flex;
    border-radius:24px;
    background-color:#efefef;
    height: 48px;
    position:fixed;
    width: 60%;
}

.search-box:hover {
    background-color:rgba(201, 194, 194, 0.897);
}

.search {
    padding-left:8px;
    padding-right:8px;
    padding-top: 1.5%;
}

.radio {
    position: fixed;
    padding-top: 55px;
}

.span {
    padding-left: 3px;
}

.filter-container {
    padding-left: 30px;
}

.label {
    padding-right: 10px;
}

