.search-input {
    background-color:transparent;
    color:#333;
    border:none;
    font-size:25px;
    font-weight:normal;
    height:100%;
    width:100%;
    outline:none;
    padding:0;
}

.search-input-box {
    flex:1 1 auto;
    height:100%;
}

.search-icon {
    display:block;
    color:#767676;
}

.search-icon-box {
    flex:0 0 auto;
    margin: 0 10px;
}

.search-box {
    display:flex;
    flex-direction:row;
    position:relative;
    align-items:center;
    flex:1 1 auto;
    min-height:0;
    min-width:0;
    box-sizing:border-box;
    z-index: 100;
}

.search-container {
    display:flex;
    border-radius:24px;
    background-color:#efefef;
    height: 48px;
    position:fixed;
    width: 60%;
}

/* .search-box:hover {
    background-color:rgba(201, 194, 194, 0.897);
    border-radius:24px;
} */

.search {
    padding-left:8px;
    padding-right:8px;
    padding-top: 47px;
    height: 100px;
    background-color: rgba(250, 250, 250);
    position: fixed;
    width: 60%;
}

.radio {
    position: fixed;
    padding-top: 55px;
}

.span {
    padding-left: 3px;
    font-size: 20px;
}

.filter-container {
    padding-left: 30px;
}

.label {
    padding-right: 10px;
}

.posts {
    padding-top: 150px
}

.create-post {
    position: relative;
    top: 47px;
    left: 1090px;
    background-color: #efefef;
    font-weight: 500;
    font-size: 24px;
    border-radius: 24px;
    padding: 10px 20px 10px 20px;
    z-index: 6;
    width: fit-content;
}

.create-post:hover {
    background-color:rgba(201, 194, 194, 0.897);
    border-radius:24px;
    color: rgb(10, 110, 67);
    box-shadow:0 0 0 1px rgba(93,210,159);
}

.search-container:hover {
    box-shadow:0 0 0 1px rgba(93,210,159);
}
