nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 13%;
  padding-left: 20px;
  padding-right: 20px;
}

nav h3:hover {
  color: #5dd39e;
  border-bottom: 3px solid #5dd39e;
  border-bottom-color: #5dd39e;
  cursor: pointer;
}

nav a {
  cursor: pointer;
}

.menu-active-link {
  border-bottom: 3px solid #5dd39e;
  border-bottom-color: #5dd39e;
}

.nav-menu-links h3{
  padding-top: 15px;
  padding-bottom: 15px;
}
nav ul {
  width: 100%;
}
/* .nav-menu-links li{
  
} */

.nav-menu-link-list-item {
  list-style-type: none;
  font-family: "Arvo Regular";
  font-weight: 700;
}
.header-logo {
  position: fixed;
  top: 20px;
  right: 20px;
  left: auto;
  z-index: 900;
  /* min-width: 100%;
  display: flex;
  justify-content: flex-end; */
}

.header-logo h1 {
  font-size: 35px;
  color: blue;
}

.header-logo a{
  font-size: 25px;
  color: black;
  text-decoration: none;
}

.header-logo a:visited{
  text-decoration: none;
  color:black;
}

.header-logo a:hover {
  color: #5dd39e;
}

/* Profile Dash */
.profile-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 30px;
  -webkit-box-shadow: inset 0px 0px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 5px -2px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 5px -2px rgba(0,0,0,0.75);
}

.profile-dash img {
  width: 70px;
  border-radius: 50px;
  border: 1px solid green;
}

.profile-dash img:hover {
  width: 70px;
  /* border: 1px solid #2B1E18; */
  border-radius: 50px;
}

.profile-dash a {
  font-family: "Arvo Regular";
  font-weight: 700;
  padding-top: 10px;
  border-bottom: 3px solid #5dd39e;
}
.profile-dash a:hover {
  color: #5dd39e;
}

.profile-dash p {
  font-family: "Arvo Regular";
  padding-top: 10px;
}

.dash-points {
  color: green;
  font-weight: 700;
}

.dash-icon {
  color: rgb(5, 129, 22);
  font-size: 20px;
  font-weight: 700;
}